<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appenders>
		<ImagAppender name="Default" folder="C:\GCC\SERVICOS\LOG\GCC_IMAG_RECORTE\Logs_Imag\" size="100	MB">
			<PatternLayout>
				<pattern>%d{dd/MM/yyyy HH:mm:ss} %-5p [%-10thread] %-50logger{1} %-30method - %message%n</pattern>
			</PatternLayout>
			<DefaultRolloverStrategy max="10" fileIndex="min"/>
		</ImagAppender>
	</appenders>

	<loggers>
		<root level="Trace">
			<AppenderRef ref="Default" />
		</root>
	</loggers>
</configuration>

<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<!-- <Configuration status="info"> -->
<!--   <Appenders> -->
<!--   		<Console name="Console" target="SYSTEM_OUT"> -->
<!--       		<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/> -->
<!--     	</Console> -->
<!--   </Appenders> -->
<!--   <Loggers> -->
<!--     <Root level="info"> -->
<!--       <AppenderRef ref="Console"/> -->
<!--     </Root> -->
<!--   </Loggers> -->
<!-- </Configuration> -->